{% extends "base.html" %}

{% block stylesheets -%}
{{ super() -}}
    <link rel="stylesheet" href="/css/error.css" />
{%- endblock stylesheets %}

{% block content %}
        <div class="error-page">
            <h2 class="headline text-warning">{{ status_code }}</h2>
            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-warning"></i>{{ message }}</h3>
                {% if explanation -%}
                <p>{{ explanation }}</p>
                {% endif -%}
                <p>Meanwhile, you can <a href="/">return to the main page</a>.</p>
            </div>
        </div>
{% endblock content %}
