body.no-sidebar .main-header,
body.no-sidebar .content-wrapper {
    margin-left: 0;
}

body.no-sidebar .brand-link {
    font-size: 1.75rem;
    line-height: 1;
}

body.no-sidebar .brand-link:hover {
    color: #0153ac;
}

body.no-sidebar .brand-image {
    border-radius: 5px;
    margin-top: -2px;
    margin-right: .75rem;
}

body.layout-boxed {
    background-color: #435b59;
}

/* Header */
.content-header.content-header-with-cta {
    padding: 15px 1rem 15px .5rem;
}

.content-header-with-cta .btn i {
    margin-right: .5rem;
}

/* Alerts */
.alerts {
    padding: 0 1rem;
}
