.user-form-wrapper {
  max-width: 420px;
  margin: auto;
}

.user-form,
.user-form-header {
  width: 100%;
  padding: 15px;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input {
  height: 3.125rem;
  padding: .75rem;
}