{% extends "base.html" %}

{% block content %}
<form class="form-login">
    <div class="text-center mb-4">
        <img class="mb-4" src="/images/logo.png" alt="Firetrack logo" width="150" height="150" style="border-radius: 2rem;">
        <h1 class="h3 mb-3 font-weight-normal">Firetrack</h1>
    </div>

    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <label for="inputPassword">Password</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>
{% endblock content %}
